<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Send SMS using Nexmo</title>
</head>
<body>
    <div class="container">
        <h3>Send SMS</h3>
        <input type="tel" name="number" id="number" placeholder="Enter phone number">
        <input type="text" name="message" id="message" placeholder="Enter Message to send">
        <input type="button" id="button" value="send">
        <p class="response"></p>
    </div>
    <script src="/socket.io/socket.io.js"></script>
    <script src="js/main.js"></script>
</body>
</html>